
    

    /* Tabs Navigation */
    .tabs {
      display: flex;
      border-bottom: 2px solid #ccc;
      
    }

    .tab {
      padding: 12px 24px;
      cursor: pointer;
      border-bottom: none;
      background: #fff;
      transition: background 0.2s;
      font-size: 16px;
      line-height: 18px;
    }

    .tab:hover {
      background: #ddd;
    }

    .tab.active {
      color: #fff;
      font-weight: bold;
      background: #396BF6;
    }

    /* Tab Content */
    .tab-content {
      
      border: 1px solid #ccc;
      border-radius: 0 6px 6px 6px;
    }

    .tab-pane {
      display: none;
    }

    .tab-pane.active {
      display: block;
    }

    /* Table Styles */
    table {
      width: 100%;
      border-collapse: collapse;
     
    }

    th, td {
      padding: 10px 12px;
      border: 1px solid #ddd;
      text-align: left;
    }

    th {
      background: #E9E8E8;
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: 0.5px;
      font-size: 16px;
      font-weight: bold;
      line-height: 18px;
      color: #1A1A1A;
    }

    tr:hover {
      background: #f9f9f9;
    }

    table tbody tr {
      background-color: #fff;
    }

    table tbody tr td {
      width: 404px;
    }

    table tbody tr td:last-child {
      width: 132px;
    }

    table tbody tr:last-child {
      background-color: #CCCCCC;
    }


    .action-btn {
      background: #007bff;
      color: #fff;
      border: none;
      padding: 6px 10px;
      border-radius: 4px;
      cursor: pointer;
      font-size: 13px;
    }

    .action-btn:hover {
      background: #0056b3;
    }

    .icon {
      font-size: 18px;
      cursor: pointer;
      color: #555;
    }

    .icon:hover {
      color: #007bff;
    }

    .save-btn {
      background-color: #1A1A1A;
      color: #fff;
      border-radius: 8px;
      font-weight: bold;
      font-size: 14px;
      line-height: 20px;
      padding: 8px 18px;
      border: none;
    }


    .new-rule-btn {
      background: #396BF6;
  color: #fff;
  border-radius: 6px;
  padding: 8px 16px;
  border: none;
    }


    .condition-row {
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    width: fit-content;
    background-color: #f9faff;
  }

  select {
    padding: 6px 12px;
    border: 1px solid #c8c8c8;
    border-radius: 6px;
    background-color: #fff;
    font-size: 14px;
    color: #333;
    outline: none;
    appearance: none;
  }

  .operator {
    background-color: #dce4ff;
    border: none;
    border-radius: 6px;
    padding: 6px 12px;
    color: #333;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
  }

  .points {
    margin-left: 8px;
    font-size: 14px;
    color: #555;
  }

  .points span {
    color: #1a73e8;
    cursor: pointer;
    font-weight: 500;
  }


  #table-rule-conditions  tbody tr td:last-child {
    width: 36px;
  }