/* Tabs Navigation */
.tabs {
  display: flex;
  border-bottom: 2px solid #333;
  margin-bottom: 20px;
}

.tab {
  padding: 14px 24px;
  cursor: pointer;
  border-bottom: none;
  background: #fff;
  transition: background 0.2s;
  font-size: 16px;
  line-height: 18px;
  border-right: 1px solid var(--secondary-text);
  color: var(--dark-bg);
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.tab:hover {
  background: #ddd;
}

.tab.active {
  color: #fff; 
  background: #396BF6;
  color: #fff;
  box-shadow: 0px 0px 8px 2px var(--tab-inactive);
  z-index: 2;
}

/* Tab Content */
.tab-content {
  background: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 0 6px 6px 6px;
}

.tab-pane {
  display: none;
}

.tab-pane.active {
  display: block;
}

/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th,
td {
  padding: 10px 12px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background: #f2f2f2;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.5px;
}

tr:hover {
  background: #f9f9f9;
}

.action-btn {
  background: #007bff;
  color: #fff;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 13px;
}

.action-btn:hover {
  background: #0056b3;
}

.icon {
  font-size: 18px;
  cursor: pointer;
  color: #555;
}

.icon:hover {
  color: #007bff;
}
